  <div class = "background">
    <div class="container-fluid">


      <div class="navbar-header">
        <a href="/"><img class= "col-xs-3 logo" src="/images/logo1.png" alt="logo Skiller"></a>
        <a class="btn col-xs-offset-1 col-md-offset-6 col-xs-4 col-md-3 contact_button" href="contact.html">NOUS CONTACTER</a>
      </div>

      <div class="main_text col-xs-12">
        <p>Testez les compétences de vos candidats!</p>
        <p>Trouvez le bon candidat!</p>
      </div>
      <a class="col-sm-offset-3 col-sm-6 btn col-xs-12 btn test_button" href="trial.html">Tester Skiller gratuitement</a>

    </div>

<hr class = "separation">

<div = class="white-background col-xs-12">

    <div class= "col-xs-12 second-slogan centrer separation2">

      La plateforme web permettant de tester les compétences informatiques de vos candidats.
    </div>

    <hr class = "separation">

    <div class = "padding-presentation col-xs-12 grey-background">

      <div class = "col-sm-6">
        <div class = "col-xs-offset-1 col-xs-10 white-background">
          <p class = "title-feature">Testez vos candidats maintenant</p>
          <ul>
            <li>Facile à utiliser</li>
            <li >Sécurisé et confidentiel</li>
            <li>Pas de logiciel à installer</li>
            <li>Tests personnalisés</li>
            <li>Les résultats sont analysés et vous sont envoyés automatiquement par email</li>
            <li>Comparaison des candidats sur la qualité de leur code et sur leur rapidité</li>
            <li>Comparaison de vos candidats par rapport à ceux des autres entreprises</li>
            <li>Durée moyenne de 30 minutes</li>
          </ul>

        </div>
      </div>

      <div class = "col-sm-6">
        <div class = "col-xs-offset-1 col-xs-10 white-background">
          <p class = "title-languages">Nos langages disponibles:</p>
          <ul>
            <li>SQL</li>
            <li>PHP</li>
            <li>Java J2EE</li>
            <li>Python</li>
            <li>C</li>
            <li>C++</li>
            <li>C#</li>
            <li>JavaScript</li>
            <li>HTML5</li>
            <li>CSS3</li>
          </ul>
        </div>
      </div>
    </div>


    <div class = "white-background padding-presentation-2">

      <p class = "why-title centrer">Pourquoi chosir Skiller?</p>

      <div class = "col-sm-4 white-background adj-box">
        <div class = "col-sm-offset-2 col-sm-8 grey-background">
          <span class = "col-sm-offset-3 col-sm-4 col-xs-offset-5"><img src="images/time.png" alt="Time"></span>
          <p class = "why-title-2 col-sm-12 centrer">Gagner du temps</p>
          <p class= "col-sm-12 min-box">Vous pouvez réduire considérablement le nombre de candidats crédibles en peu de temps grâce à nos tests.</p>
        </div>
      </div>

      <div class = "col-sm-4 white-background adj-box">
        <div class = "col-sm-offset-2 col-sm-8 grey-background">
          <span class = "col-sm-offset-3 col-sm-4 col-xs-offset-5"><img src="images/qualite.png" alt="qualite"></span>
          <p class = "why-title-2 col-sm-12 centrer">Trouver le bon candidat</p>
          <p class= "col-sm-12 min-box">Vous êtes sûr de trouver un candidat compétent apte à répondre à vos besoins.</p>
        </div>
      </div>

      <div class = "col-sm-4 white-background adj-box">
        <div class = "col-sm-offset-2 col-sm-8 grey-background">
          <span class = "col-sm-offset-3 col-sm-4 col-xs-offset-5"><img src="images/money.png" alt="money"></span>
          <p class = "why-title-2 col-sm-12 centrer">Faire des économies</p>
          <p class= "col-sm-12 min-box">Avoir le bon candidat, c'est réduire son turnover et ses coûts de formation </p>
        </div>
      </div>


      <div class = "grey-background padding-presentation-3 col-xs-12 ">
        <a class="col-sm-offset-3 col-sm-6 btn col-xs-offset-1 col-xs-10 btn test_button position-button" href="trial.html">Tester Skiller gratuitement</a>
      </div>
    </div>

  </div>




    <footer>
      <p>Copyright &copy; 2017 Skills</p>
    </footer>
  </div>
